<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>460641629852-an9lk82feonqa0j4m593omn4o32kk5br.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460641629852-an9lk82feonqa0j4m593omn4o32kk5br</string>
	<key>API_KEY</key>
	<string>AIzaSyCM01buh8uP51nUikS4wIYzTVJH5SKA368</string>
	<key>GCM_SENDER_ID</key>
	<string>460641629852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BeCare.BeCareBot</string>
	<key>PROJECT_ID</key>
	<string>strokebotfeedback</string>
	<key>STORAGE_BUCKET</key>
	<string>strokebotfeedback.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:460641629852:ios:d6a0c2c3fcc29aa8</string>
	<key>DATABASE_URL</key>
	<string>https://strokebotfeedback.firebaseio.com</string>
</dict>
</plist>